@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400italic);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Settings */

html, body {
  height: 100%;
}

.border {
    background: black url(../images/deepseabk.jpg);
}

nav {
    color: white;
    text-decoration-color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .70em;
    font-weight:700;
    word-spacing: 30px;
    margin-bottom: 15px;
    text-align: right;
    margin-right: 70px;
    margin-top: 30px;
    letter-spacing: 2px; 
}
    
nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: none;
    color: rgb(151,92,86);
}

nav a: link{
    text-decoration: none;
    text-decoration-color: white;
}

a {
color: inherit;
text-decoration: none;
}

h1.first {
color: white;
font: italic 700 84px/1.2 'playfair display';
margin: auto;
text-align: center; 
}

h1.second {
clear: both;
font-style: normal;
font-weight: 900;
margin: 0 0 0 172px;
color:white;
font-size: 30px;
text-align: center;

}

#wrapper {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.pformat {
    color:rgb(130,144,173);
    width:400px;
    margin-left: auto;
    margin-right: auto;
    font: 400 20px/1 'playfair display';
    letter-spacing: 3px;
    text-align: center;
    margin-top: 10px;
    /*margin-right: 300px;
    margin-left: 250px;*/
    line-height: 27px;
    display: flex; 
    justify-content:space-around;
    display: -webkit-flex; 
    -webkit-justify-content:space-around;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}

.aboutp {
    font-family: 'Raleway', sans-serif;
    font-size: 15px; 
    line-height: 17px; 
    margin-bottom: 20px; 
    margin-top: 10px;
    color:white;
    margin-right: 250px;
    margin-left: 250px;
    text-align: center;
    z-index: 2;
}

.btn {
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #975C56;
  padding: 33px 30px 33px 30px;
  text-decoration: none;
  display: inline-block;
  margin-right: 400px;
  margin-left: 400px;

}


.btn:hover {
  background: #8290AD;
  text-decoration: none;
}

.image {
  
    float: center;
    z-index: -1;
     display: flex; 
    justify-content:space-around;
    display: -webkit-flex; 
    -webkit-justify-content:space-around;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}

.anchor {
   display: flex; 
    justify-content:space-around;
    display: -webkit-flex; 
    -webkit-justify-content:space-around;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    margin-bottom: 30px;
}

.animal {
    color: white;
    font: italic 700 24px/1.2 'playfair display';
    text-align: center;
    width: 250px;
    /*display: inline-block;*/
    /*margin: auto;*/
    /*float: center;*/
    margin-bottom: 60px;
}

.centerinbox{
    display: flex; 
    justify-content:space-around;
    display: -webkit-flex; 
    -webkit-justify-content:space-around;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    margin-bottom: 20px;

}

.traits {
    font-style: normal;
    color:white;
    text-align: center;
    width: 250px;
    display: inline-block;
    margin: auto;
    font-size: 14px;
}


.buttonspace{
    margin: auto;
    padding: auto;
    text-align: center;
}

.footer {
    background: rgba(130,144,173,.70) repeat-x top center scroll;
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1;
    color: white;
    text-decoration-color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .70em;
    font-weight:700;
    word-spacing:30px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 30px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    text-decoration: none;
    color: rgb(151,92,86);
}

.footer a: link{
    text-decoration: none;
    text-decoration-color:white;
}

 /* button form test from codecademy */

 h2 {
    font: italic 700 26px/1.2 'playfair display';
    color: white;
    text-align: center;
}

form {
    display: inline-block;
    text-align:center;
    margin-left: 400px;
    margin-top: 10px;
    display: flex; 
    display: flex; 
  
}



.list {
  font: italic 700 24px/1.2 'playfair display';
  color:white;
  text-align: center;
}

.button {
  display: inline-block;
  height:30px;
  width:70px;
  background-color:#8290AD;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 5px;
  color:#ffffff;
  border-radius: 5px;
  margin-top:2px;
  margin-left: 10px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -40px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
html, body {
  height: 100%;
}

.sfooter, .page-wrap:after {
  height: 142px; 
}

#picTwo {
  display:none;
}


#pick {
  
    margin-left: 590px;
}

#startrace {
    margin-left: 590px;
}




